@charset "utf-8";
/* CSS Document */

/* Reset - Ikke den optimale måde, men effektivt og enkelt */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Allover rules */

html {
	scroll-behavior: smooth;
	height: 100%;
}
body {
	box-sizing: border-box;
	font-family: 'Verdana', sans-serif;
	line-height: 1.7;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,1.00);
	color: rgba(255,255,255,1.00);
	background-size: cover;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, a {
	font-family: 'Trebuchet MS';
	font-weight: 500;
	line-height: 1.1;
	text-decoration: none;
	color: rgba(255,255,255,1.00);
	transition: all 300ms ease-in-out;
}
p {
	margin: 0 0 10px;
	font-size: 1em;
}
h1 {
	margin: 20px 0;
	font-size: 48px;
	text-align: center;
}
h2 {
	margin: 5px 0 10px;
	font-size: 36px;
}
h3 {
	margin: 10px 0 10px;
	font-size: 24px;
}
h4 {
	margin: 14px 0 10px;
	font-size: 18px;
}
.uppercase {
	text-transform: uppercase;
}
.center {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}
figure {
	margin: 20px auto;
	max-width: 550px;
	height: auto;
}
figcaption {
	font-style: italic;
}
/* Effekt når indholde i tabs loades*/
.tabcontent {
  animation: fadeEffect 1s; 
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Main content */
section {
		min-height: 100vh;

}
main {
	/*	max-width: 1160px;
*/	margin: auto;
}
article {/* Desktop */
	position: relative;
	max-width: 1160px;
	margin: auto;
}
strong a{ 
  font-weight: bold;
}
.row {
	width: 100%;
	display: -ms-flexbox; /* IE 10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE 10 */
	flex-wrap: wrap;
	padding: 0 4px;
	justify-content: space-between;
}
.tab {
	display: -ms-flexbox; /* IE 10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE 10 */
	flex-wrap: wrap;
	padding: 0 4px;
	justify-content: center;
}
.flow5-tab {
	position: sticky;
	top: 130px;
	display: -ms-flexbox; /* IE 10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE 10 */
	flex-wrap: wrap;
	padding: 0 4px;
	justify-content: center;
}
.flow5-tab .square-button, .tab .square-button, .tabinator .square-button {
	font-size: 18px;
	text-align: center;
	margin: 5px 10px;
	line-height: 32px;
	border-radius: 15px;
}
.flow5-tab .square-button {
	background-color: rgba(25,110,18,1.00);
}
.button, .go-to, .square-button {
	text-decoration: none;
	font-size: 24px;
	text-align: center;
	color: rgba(255,255,255,1.00);
	display: inline-block;
	transition: all 300ms ease-in-out;
	height: 70px;
	width: 70px;
	padding: 9px 20px;
	border: 3px solid rgba(255,255,255,1.00);
	border-radius: 50%;
	line-height: 47.6px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.50);	
}
.square-button {
	margin: 10px;
	width: auto;
    height: auto;
    padding: 0 20px;
    border-radius: 20px;
    background-color: transparent;
}
#eksempler .square-button p {
	font-size: 24px;
	line-height: 47.6px;
}
.button:hover, .wobble:hover, .go-to:hover, .square-button:hover, .tab-active {
	background-color: rgba(15, 91, 38, 0.75);
}
input#Formular01.button.square-button:hover {
	background-color: rgba(245,83,11,0.75);
}
.go-to {
	margin-top: 20px;	
}
.go-to-row, .go-to-row-overlay {
	text-align: center;
	z-index: 90;
	position: sticky;
	top: 0px;
}
.go-to-row-overlay {
	height: 100px;
	z-index: 90;
	background-color: rgba(0,0,0,0.40);
}
.grow-on-hover:hover {
	transform: scale(1.1);
	transition: all 300ms ease-in-out;
}
.link-on-hover a:hover {
	text-decoration: underline;
	transition: all 300ms ease-in-out;
}
.column-l-1 {
	width: 100%;
}
.column-l-3 {
	width: 32%;
}
.column-l-4 {
	width: 25%;
}
.inner-column {
	position: relative;
	width: 100%;
	margin-top: 20px;
}
div.inner-column.round-image > a > img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: auto;
}
.inner-column-l-2 {
	width: 48%;
	margin-top: 15px;
}
.inner-column-l-1-3 {
	width: 33%;
	margin-top: 15px;
}
.inner-column-l-2-3 {
	width: 64%;
	margin-top: 15px;
}
.inner-column a img, .inner-column img, .inner-column-l-2 img {
	width: 100%;
	margin: auto;
}
.content-dot-xl, .content-dot-l, .content-dot-m, .content-dot-s {
	margin: auto;
	position: absolute;
    height: 46vh;
    width: 46vh;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    border: 3px solid rgba(255,255,255,1.00);
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);	
	background-color: rgba(15, 91, 38, 0.75);
	transition: all 300ms ease-in-out;
}
.content-dot-xl h1, .content-dot-l h1 {
	line-height: 6vh;
	font-size: 5.5vh;
	text-transform: uppercase;
}
.content-dot-xl h2, .content-dot-l h2, .content-dot-m h1 {
	line-height: 5vh;
	font-size: 4.8vh;
}
.content-dot-xl h3, .content-dot-l h3, .content-dot-m h2 {
	line-height: 4vh;
	font-size: 3.8vh;
}
.content-dot-xl h4, .content-dot-l h4,.content-dot-m h3, .content-dot-s h2 {
	line-height: 3.5vh;
	font-size: 2.8vh;
}
.content-dot-m h4, .content-dot-s h3 {
	line-height: 3.5vh;
	font-size: 2.3vh;
}
.content-dot-xl p, .content-dot-l p {
	padding-top: 1.2vh;
	line-height: 4vh;
	font-size: 2.2vh;
}
.content-dot-l {
    height: 26vh;
    width: 26vh;
}
.content-dot-l h1, .content-dot-m h1 {
	text-transform: uppercase;
}
.content-dot-m {
	height: 21vh;
    width: 21vh;
}
.content-dot-s {
	height: 14vh;
    width: 14vh;
}


.round-image {
	position: relative;
	margin: auto;
	max-width: 90%;
	padding-top: 90%;
	border: 3px solid rgba(255,255,255,1.00);
	border-radius: 50%;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	transition: all 300ms ease-in-out;
}




.orange-background {
	background: rgba(245,83,11,1);
}

.blue-background {
	background: rgba(34,115,240,1);
}
.dark-blue-background {
	background: rgba(2,25,114,1);
}

.green-background {
	background: rgba(25,110,18,1.00);
}

.red-background {
	background: rgba(251,0,0,1);
}

.purple-background {
	background: rgba(92,26,175,1);
}
.brown-background {
	background: rgba(72,32,16,1);

}
#eksempler, #profil, #semester-1 {
	text-align: center;
}
#eksamen1, #flow1, #flow2, #flow3, #flow4, #ide {
	position: relative;
	margin: -100px 0 0;
	
}
/* Landing page content */

/* SENESTE PROJEKT */
#seneste {
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-image: url(../images/fern-821293_1920.jpg); 
}

.seneste-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
}

.eksamen1-sub {
	position: absolute;
	top: 5vh;
	right: calc(50% + 42.5vh);
}
.eksamen2-sub {
	position: absolute;
	top: 29vh;
	right: calc(50% + 46vh);
}
.eksamen3-sub {
	position: absolute;
    top: 49.5vh;
    right: calc(50% + 32.5vh);
}
.eksamen4-sub {
	position: absolute;
    top: 49.5vh;
    left: calc(50% + 6.5vh);
}
.eksamen5-sub {
	position: absolute;
    top: 29vh;
    left: calc(50% + 20vh);
}
.eksamen6-sub {
	position: absolute;
    top: 5vh;
    left: calc(50% + 16.5vh);
}
.eksamen7-sub {
	position: absolute;
    top: 62vh;
    left: calc(50% - 10.5vh);
}

/*.eksamen1-container{
		position: absolute;
	width: 100%;
	
	transform: scaleX(0);
	left: 100vw;
	transition: .8s;
}
.show-eksamen1 {
	width: 100%;
	left: 0;
	z-index: 99;
	transform: scaleX(1);
	transition: 1.0s;
	min-height: 350vh;
}*/
#opgave {
	position: relative;
	margin: -100px 0 0;
}



.color-dark-green, .color-light-green, .color-dark-blue, .color-light-blue, .color-brown, 
.color-orange, .color-red, .color-purple, .color-black, .color-gray, .color-white  {
	width: 30px;
	height: 30px;
	border: 2px solid #fff;
	border-radius: 100%;
	float: left;
}
iframe {
	margin: 10px auto;
    width: 100%;
    height: 65vh;
	border: 0;
}

.color-dark-green {
	background-color: rgba(15,91,38,1.00);
}
.color-light-green {
	background-color: rgba(38,165,28,1.00);
}
.color-dark-blue {
	background-color: rgba(2,25,114,1.00);
}
.color-white {
	background-color: white;
}
.color-gray {
	background-color: gray;
}
.color-black {
	background-color: black;
}
.color-light-blue {
	background-color: rgba(34,115,240,1.00);
}
.color-orange {
	background-color: rgba(245,83,11,1.00);
}
.color-red {
	background-color: rgba(251,0,0,1.00);
}
.color-purple {
	background-color: rgba(92,26,175,1.00);
}
.color-brown {
	background-color: rgba(50, 35, 20,1.00);
}
/* 1. SEMESTER */

#semester-1 {
	background-position:top;
	background-size: cover;
	background-attachment: fixed;
	background-image: url(../images/maple-leaf-3680684_1920.jpg); 
}


.semester-header, .profil-content {
	position: absolute;
	top: 2vh;
	left: 50%;
	transform: translate(-50%);
}
.profil-content {
	border-radius: 100%;
	padding: 50px 55px;
}
.flow1-sub, .profil-mig {
	position: absolute;
	top: 5vh;
	right: calc(50% + 20.5vh);
}
.flow2-sub, .profil-baggrund {
	position: absolute;
	top: 29vh;
	right: calc(50% + 16.5vh);
}
.flow3-sub, .profil-fritid {
	position: absolute;
	top: 5vh;
	left: calc(50% + 20.5vh);
}
.flow4-sub, .profil-kontakt {
	position: absolute;
	top: 29vh;
	left: calc(50% + 16.5vh);
}
.flow5-sub-load {
	animation: fade-dot 1s;
}
.flow5-sub, .profil-besked {
	position: absolute;
	left: calc(50% - 10.5vh);
	transition: all .2s ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1.6s;
    animation-name: puls;
}


.flow1-container, .flow2-container, .flow3-container, .flow4-container, .eksamen1-container {
		position: absolute;
	width: 100%;
	
	transform: scaleX(0);
	left: 100vw;
	transition: .8s;
}
.show-flow1, .show-flow2, .show-flow3, .show-flow4, .show-eksamen1 {
	width: 100%;
	left: 0;
	z-index: 99;
	transform: scaleX(1);
	transition: 1.0s;
	min-height: 450vh;
}

/* 1. SEMESTER - FLOW 4*/
.org-sweetbot-iframe {
	width: 375px;
	height: 667px; 
}
 

/* TIDLIGER PROJEKTER */

#eksempler {
	padding-bottom: 5vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-image: url(../images/forest-opt.jpg); 
}


#eksempler p {
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 0 0 20px;
}
#eksempler h1 {
	margin: 20px 0;
	line-height: 57.6px;
	font-size: 48px;
	font-weight: 400;
	letter-spacing: 1px;
}
#eksempler h3 {
	margin: 0 0 20px;
	font-family: 'Trebuchet MS';
	font-weight: 500;
	line-height: 1.1;
	font-size: 36px;
	color: inherit;
}


/* Min Profil*/
#profil {
	background-image: url(../images/dandelion-opt.jpg);
		background-size: cover;

	background-repeat: no-repeat;
	background-position: top;
}
#profil > article{
	margin-top: 10vh;
}
/*#profil h1 {
	padding: 10px 100px;
	font-family: 'The Girl Next Door', cursive;
	font-size: 48px;
	line-height: 57.6px;
	font-weight: 700;
	font-style: italic;
	color: rgba(0,0,0,0.5);
	transform: rotate(3deg);
	text-align: right;
}
#profil h4 {
	font-family: 'The Girl Next Door', cursive;
	font-size: 28px;
	font-weight: 600;
	font-style: italic;
	color: rgba(0,0,0,0.5);
	transform: rotate(-3deg);
	text-align: left;
}
#profil p {
	font-family: 'The Girl Next Door', cursive;
	font-size: 24px;
	font-weight: 700;
	font-style: italic;
	color: rgba(0,0,0,0.50);
	transform: rotate(1deg);
	text-align: left;
	letter-spacing: 2px;
	padding: 12px;
	line-height: 28px;
}

img.kompetencer-image {
	margin-top: 140px;
	width: 90%;
	padding: 10px 10px;
	background: rgba(255,255,255,1.00);
	transform: rotate(8deg);
	box-shadow: 0px 1px 6px 1px rgba(134,133,133,1.00);
}
img.interesser-image {
	width: 90%;
	padding: 10px 10px;
	background: rgba(255,255,255,1.00);
	box-shadow: 0px 1px 6px 1px rgba(134,133,133,1.00);
}
img.profil-image {
	width: 70%;
	padding: 12px 12px 24px;
	background: rgba(255,255,255,1.00);
	transform: rotate(-8deg);
	box-shadow: 0px 1px 6px 1px rgba(134,133,133,1.00);
}
img.postit-image {
	width: 250px;
	transform: rotate(2deg);
}
.profile-row {
	width: 85%;
	margin: auto;
	margin-top: 55px;
	transform: rotate(5deg);
}
#profil address {
	width: 60%;
	margin: 40px auto 0px;
	padding-bottom: 70px;
}
#profil .inner-column.profile-col-com {
	margin-left: 30px;
	transform: rotate(6deg);
	line-height: 30px;
}
#profil .inner-column.profile-col-com p {
	transform: rotate(-8deg);
}
#profil .inner-column.profile-col-exp {
	margin: 40px 0 0 10px;
	transform: rotate(-6deg);
	line-height: 32px;
}
#profil .inner-column.profile-col-con, #profil .inner-column.profile-col-int {
	margin: 20px 0 0 20px;
	line-height: 32px;
}*/
/* Up-Cycling*/

.up-cycling-rapport {
	/*	display: none;*/
	transform: scaleX(0);
	left: 100vw;
	position: absolute;
	width: 100%;
	background: rgba(55,35,20,1.00);
	transition: .8s;
}
/*.up-cycling-hide {
		left: 100vw;
	
	transform: scaleX(0);
 transition: left .8s ;
}*/

.up-cycling-show {
	/*	display: block;*/
	left: 0;
	z-index: 99;
	transform: scaleX(1);
}

#beskrivelse img {
	margin-top: 10px;
}
.extra-topmargin {
	margin-top: 3em;
}
img.skitser  {
	height: 100%;
}

/* MUMS */

/*.mums-rapport-button {
	position: relative;
    left: -11vh;
    bottom: 11vh;
}*/
.mums-rapport {
	/*	display: none;*/
	transform: scalex(0);
	left: -100vw;
	position: absolute;
	width: 100%;
	background: rgba(55,35,20,1.00);
	transition: .8s;
}
/*.up-cycling-rapport-hide-button {
	position: relative;
	right: 0;
}*/
/*.up-cycling-hide {
		left: 100vw;
	
	transform: scaleX(0);
 transition: left .8s ;
}*/

.mums-show {
	/*	display: block;*/
	left: 0;
	z-index: 99;
	transform: scaleX(1);
}
#mums-rapport {
	display: block;
	padding: 20px;
	margin: auto;
	width: 90%;
	height: 90vh;
}


.flow-rapport-portrait, .flow-rapport-landscape {
	
	display: block;
	margin: 10px auto ;
	width: 100%;
	height: 65vh;
}
/* All over element design */

/* Button design */


/* Nav buttons */



/* Nav button animation - Only on pageload = need JS */


 @keyframes wobble {
 from {
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
}
 15% {
 -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
 transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
}
 30% {
 -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
 transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
}
 45% {
 -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
 transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
}
 60% {
 -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
 transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
}
 75% {
 -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
 transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
}
 to {
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
}
}

.latest-work-dot, .flow1-work-dot, .flow2-work-dot, .flow3-work-dot, .flow4-work-dot , .semester1-work-dot, .early-work-dot  {
	-webkit-animation-name: wobble;
	animation-name: wobble;
	animation-duration: 1.5s;
	animation-delay: 2s;
}
.flow1-work-dot {

	animation-delay: 6.5s;
}.flow2-work-dot {

	animation-delay: 8s;
}.flow3-work-dot {

	animation-delay: 9.5s;
}.flow4-work-dot {

	animation-delay: 11s;
}.semester1-work-dot {

	animation-delay: 5s;
}
.early-work-dot {
	animation-delay: 3.5s;
}
/* Responciv design */



.hide-on-desktop {
	display: none;
}

@media only screen and (max-width: 1024px) {

	
/* HEADER AREA */
.header-image {
	margin-top: -17vw;
	height: 40vw;
	width: 40vw;
}
	
/* MAIN AREA*/
	article {
		max-width: 900px;
	}
.profile-row {
	width: 100%;
	transform: rotate(0);
}
h2 {
	font-size: 30px;
}
}

@media only screen and (max-width: 768px) {
.hide-on-desktop {
	display: block;
}
.hide-on-tablet {
	display: none;
}
#profil {
	background-image: url(../images/Baggrund_2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
	background-attachment: fixed;
}

.profile-row {
	width: 100%;
	margin-top: 0;
}
.column-m-2 {
	width: 49%;
}
.column-m-1 {
	width: 90%;
}
.last-item {
	order: 99;
	margin: auto;
}
	
	
	

	
/* MAIN AREA*/
#profil .inner-column.profile-col-com, #profil .inner-column.profile-col-exp, #profil .inner-column.profile-col-int, #profil .inner-column.profile-col-con {
	float: right;
	width: 50%;
	margin: 30px 0 0 70px;
}
.inner-column-l-1 {
	width: 100%;
}
img.kompetencer-image {
	margin-top: 0;
}
img.interesser-image {
	margin-top: 20px;
	transform: rotate(-4deg)
}
img.profil-image {
	width: 400px;
}
#profil address {
	width: 70%;
	margin: 0 auto 0px;
}
}
