@charset "utf-8";
/* CSS Document */
.semester-description {
	position: relative;
	margin: auto;
	max-width: 80vw;
	height: 66vh;
}
@keyframes fade-dot {
    0%, 50% {
        opacity: 0;
        transform: scale(0);
    }
}
@keyframes dot-anim {
    0% {
        top: -1vw;
    }
    50% {
        top: 2vw;
    }
    100% {
        top: -1vw;
    }
}

@keyframes puls {
    0% {
        top: 46vh;
    }
    50% {
        top: 48vh;
    }
    100% {
        top: 46vh;
    }
}
.flow-dot-container {
	position: relative;
    width: 100%;
    animation: fade-dot 1s;
}
.semester-dot {
/*    display: inline-block;
*/    /*width: 10vw;
    height: 10vw;
    border-radius: 50%;*/
	line-height: 135px;
    transition: all .2s ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1.6s;
    animation-name: dot-anim;
}
/*.semester-dot *:before, .semester-dot *:after {
    margin: auto;
    padding: 0;
    outline: 0;
    overflow: hidden;
    box-sizing: border-box;
}*/
.semester-dot-button {
	width: 135px;
	height: 135px;
	line-height: 110px;
	font-weight: bold;
}
.semester-dot, .semester-dot:before, .semester-dot:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.flow1-dot {
	left: -60vw;
	animation-delay: 0s;

}
.flow2-dot {
    left: -20vw;
    animation-delay: .2s;
}
.flow3-dot {
    left: 20vw;
    animation-delay: .4s;
}
.flow4-dot {
    left: 60vw;
    animation-delay: .6s;
}




.tabinator input {
  display: none;
}

.tabinator input:checked + label {
  
 background-color: rgba(0,0,0,0.25);
  
}

#flow1-refleksioner, #flow1-opgave, #flow1-loesning, #flow1-rapport, #flow1-laering,
#flow2-refleksioner, #flow2-opgave, #flow2-loesning, #flow2-github, #flow2-laering,
#flow3-refleksioner, #flow3-opgave, #flow3-loesning, #flow3-rapport, #flow3-laering, #flow3-re-design,
#flow4-refleksioner, #flow4-opgave, #flow4-loesning, #flow4-rapport, #flow4-laering, #flow4-re-design,
#eksamen1-refleksioner, #eksamen1-opgave, #eksamen1-projekt, #eksamen1-design, #eksamen1-test, #eksamen1-laering{
  display: none;
  
}
#flow1-tab1:checked ~ #flow1-refleksioner,
#flow1-tab2:checked ~ #flow1-opgave,
#flow1-tab3:checked ~ #flow1-loesning,
#flow1-tab4:checked ~ #flow1-rapport,
#flow1-tab5:checked ~ #flow1-laering,
#flow2-tab1:checked ~ #flow2-refleksioner,
#flow2-tab2:checked ~ #flow2-opgave,
#flow2-tab3:checked ~ #flow2-loesning,
#flow2-tab4:checked ~ #flow2-github,
#flow2-tab5:checked ~ #flow2-laering,
#flow3-tab1:checked ~ #flow3-refleksioner,
#flow3-tab2:checked ~ #flow3-opgave,
#flow3-tab3:checked ~ #flow3-loesning,
#flow3-tab4:checked ~ #flow3-rapport,
#flow3-tab5:checked ~ #flow3-laering,
#flow3-tab6:checked ~ #flow3-re-design,
#flow4-tab1:checked ~ #flow4-refleksioner,
#flow4-tab2:checked ~ #flow4-opgave,
#flow4-tab3:checked ~ #flow4-loesning,
#flow4-tab4:checked ~ #flow4-rapport,
#flow4-tab5:checked ~ #flow4-laering,
#flow4-tab6:checked ~ #flow4-re-design,
#eksamen1-tab1:checked ~ #eksamen1-refleksioner,
#eksamen1-tab2:checked ~ #eksamen1-opgave,
#eksamen1-tab3:checked ~ #eksamen1-projekt,
#eksamen1-tab4:checked ~ #eksamen1-design,
#eksamen1-tab5:checked ~ #eksamen1-test,
#eksamen1-tab6:checked ~ #eksamen1-laering{
  width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
}
