@charset "utf-8";
/* CSS Document */


/* HEADER / Landing page */
.header-areea {
	margin-top: -100px;
	background-color: #000000;
	transition: all 1.5s ease-in-out;
}

nav {
	padding: 20px 25px 0;
	position: fixed;
	width: 100vw;
	z-index: 100;
}
.nav-bacground {
height: 100px;	
	background-color: transparent;
	transition: all .5s ease-in-out;
}
.nav-bacground-scroll {
	position: sticky;
	top: 0;
	width: 100%;
	
	z-index: 90;
	background-color: rgba(0,0,0,0.40);
	
}

.slider {
	position: relative;
/*	background-image: url(../images/header-slide1.jpg);
*/	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: right;
	width: 100%;
	height: 80vh;
	animation: fade 60s infinite;
	transition: all 1.5s ease-in-out;
}
.header-overlay {
	position: absolute;
	display: block;
	color: #FFFFFF;
	left: 20%;
    top: -5vh;
/*	transform: translate(-25%);
*/}

.slide-text-1 {
	position: absolute;
	animation: layer1 30s infinite;
}
.slide-text-2 {
	position: absolute;
	animation: layer2 30s infinite;
}
.slide-text-3 {
	position: absolute;
	animation: layer3 30s infinite;
}
.slide-text-1, .slide-text-2 .slide-text-3 {
	padding: 40px;
	transition: all 1.5s ease-in-out;
}

.feature {
	position: relative;
	margin: auto;
	top: 20%;
	width: 90vw;
	height: 100%;
}

/* Slider billede animation */

 @keyframes fade {
 0% {
 opacity: 1;
 background-image: url(../images/slider1.jpg);
}
 26% {
 opacity: 1;
 background-image: url(../images/slider1.jpg);
}
 34% {
 opacity: 1;
 background-image: url(../images/slider2.jpg);
}
 59% {
 opacity: 1;
 background-image: url(../images/slider2.jpg);
}
 67% {
 opacity: 1;
 background-image: url(../images/slider3.jpg);
}
 92% {
 opacity: 1;
 background-image: url(../images/slider3.jpg);
}
100% {
 opacity: 1;
 background-image: url(../images/slider1.jpg);
}
/* Slider overlay animation */
	 
}
 @keyframes layer1 {
 0% {
 opacity: 1;
}
 26% {
 opacity: 1;
}
 34.0% {
 opacity: 0;
}
 92% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
 @keyframes layer2 {
 0% {
 opacity: 0;
}
 26% {
 opacity: 0;
}
 34% {
 opacity: 1;
}
 59% {
 opacity: 1;
}
 67% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@keyframes layer3 {
 0% {
 opacity: 0;
}
 59% {
 opacity: 0;
}
 67.0% {
 opacity: 1;
}
 92% {
 opacity: 1;
}
 100% {
 opacity: 0;
}
}

/* Slider - On Load - zoom animation */

 @keyframes zoomIn {
 from {
 opacity: 0;
 -webkit-transform: scale3d(0.3, 0.3, 0.3);
 transform: scale3d(0.3, 0.3, 0.3);
}
 50% {
 opacity: 1;
}
}
.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
	animation-duration: 1s;
}
/* Header bottom layout*/

.layoutbox-1 {
	text-align: center;
	z-index: 2;
	min-height: 20vh;
	position: relative;
}
/*Header Button  */
.header-button { 
	position: relative;
	width: 135px;
	height: 135px;
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
	line-height: 26px;
    padding: 15px 0 10px;
    font-weight: bold;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);	
}



.header-button:hover, .semester-dot-button:hover {
/*	background-color: rgba(15, 91, 38, 0.75);
*/	transform: scale(1.1);
}

.semester1-work-dot {
	position: absolute;
    top: 13vh;
    right: 27%;
/*    transform: translate(-50%, -50%);
*/}

.flow1-work-dot {
	position: absolute;
    top: 0.9vh;
    right: calc(27% - 5vh);
/*    transform: translate(-50%, -50%);
*/}
.flow2-work-dot {
	position: absolute;
    top: 10vh;
    right: calc(27% - 18vh);
/*    transform: translate(-50%, -50%);
*/}
.flow3-work-dot {
	position: absolute;
    top: 26vh;
    right: calc(27% - 16.4vh);
/*    transform: translate(-50%, -50%);
*/}
.flow4-work-dot {
	position: absolute;
    top: 32.3vh;
    right: calc(27% - 2vh);
/*    transform: translate(-50%, -50%);
*/}
.latest-work-dot {
	display: block;
	position: absolute;
    top: 1vh;
    left: calc(20% - 24vh);
/*    transform: translate(-50%, -50%);
*/	
}
.early-work-dot {
	display: block;
	position: absolute;
    top: 24vh;
    left: calc(20% - 14.5vh);
/*    transform: translate(-50%, -50%);
*/	
}
.larger .header-button { /*Header button placement */
	width: 200px;
	height: 200px;
	font-size: 200%;
	line-height: 40px;
	padding: 25px 0 15px;
	font-weight: normal;
}
.medium .header-button { /*Header button placement */
	width: 150px;
	height: 150px;
	font-size: 150%;
	line-height: 25px;
	padding: 25px 0 15px;
	font-weight: normal;
}


/*#latest .header-button { 
	width: 200px;
	height: 200px;
}

#latest > a {
	font-size: 250%;
	line-height: 40px;
	padding: 25px 0 15;
}
*/
.header-image {
	position: relative;
	margin-top: -20vh;
	height: 27.7vh;
	width: 27.7vh;
	background-size: cover;
	background-color: rgba(237,237,237,1.00);
	background-image: url(../images/profilimg.jpg);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	border: 3px solid rgba(255,255,255,1.00);
	border-radius: 50%;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
	transition: all 300ms ease-in-out;
}



.header-text-name {
	color: #FFFFFF;
	padding: 1em 0 2em;
	position: relative;
}

.orange {
	background: rgba(245,83,11,0.75);
}

.blue {
	background: rgba(34,115,240,0.50);
}
.dark-blue {
	background: rgba(2,25,114,0.50);
}

.green {
	background: rgba(38,165,28,0.50);
}

.red {
	background: rgba(251,0,0,0.50);
}

.purple {
	background: rgba(92,26,175,0.50);
}
.brown {
	background: rgba(72,32,16,0.50);

}
.black {
	background: rgba(0,0,0,0.50);
}

.transperant {
	background-color: transparent;
}


@media only screen and (max-width: 768px) {
	/* HEADER AREA */
.header-image {
	margin-top: -30vw;
	height: 40vw;
	width: 40vw;
}
}